body {
    background-color: #E9ECEF;
}


/****************** TEXT COLORS ****************/
.text-red {
    color: red;
}

.text-orange {
    color: orange;
}

.text-blue {
    color: blue;
}
/****************** TEXT COLORS END ****************/